@{
  Layout = "_Layout";
}

<h1>The Recipe Box!</h1>
<button>@Html.ActionLink("See all Recipes", "Index", "Recipes")</button>
<button>@Html.ActionLink("See all categories", "Index", "Categories")</button>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>